@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0px;
}

input[type="text"],
input[type="email"] {
  width: 200px;
}

#bt-reset {
  width: max-content;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #DEDEDE;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5E427;
  height: max-content;
}

#tabela-user {
  border: 1;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  width: 100%;
  background-color: #DEDEDE;
  border-collapse: collapse;
  overflow: hidden;
}

#tabela-user td,
#tabela-user th {
  padding: 0.3rem 0.3rem;
}

thead {
  background-color: #F5E427;
}

#listagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 20%;
  overflow-y: scroll;
  border-radius: 6px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  width: 90%;
}

img {
  width: 18ch;
  height: 19vh;

}

.bt-editar {
  background-color: bisque;
  border: black 1px 4px;
  border-radius: 4px;
}

a {
  color: black;
}

.bt-excluir {
  background-color: red;
  border: 2px 3px;
  border-radius: 8px;
}

#header-table {
  position: sticky;
  top: 0;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  backdrop-filter: blur(10px);
}

#prompt {
  height: max-content;
  width: max-content;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #DEDEDE;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
  /* color: #f0; */
  color: red;
  padding: 20px;
  border-radius: 10px;
  font-family: monospace;
  box-shadow: 0 0 20px #F5E427;
  z-index: 1000;
  font-size: 1rem;
}

#nome-user,
#email-user {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
}

#formulario {
  border: solid 3px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
